:root {
    --primario: #8E44AD;
    --primarioClaro: #D2B4DE;
    --primarioBorder: #A569BD;
    --secundarioBorder: #D68910;
    --secundario: #34495E;
    --negro: #000;
    --blanco: #fff;
    --fuentePrincipal: 'Matrix';
}

@font-face {
    font-family: 'Matrix';
    src: url(../fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf);
}

/*Paul Irish*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 40rem;
    padding-top: 5rem;
}

.contenedor-card {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--primario);
    padding: 1rem;
    border: solid 1rem var(--secundario);
}

/*Titulo*/
.card-titulo {
    display: flex;
    justify-content: space-between;
    border:  outset .4rem var(--primarioBorder);
    margin: 0 .7rem;
}
.titulo-contenido {
    font-family: var(--fuentePrincipal);
    margin: .5rem;
    padding-top: .3rem;
    font-size: 2.6rem;
}
.titulo-imagen {
    width: 5rem;
    height: 4rem;
}

/*Imagen Dragon*/
.contenedor-estrellas {
    padding-left: 15rem;
    padding-top: .7rem;
    padding-bottom: .5rem;
}
.estrellas {
    max-width: 90%;
}

.contenedor-dragon {
    margin: 0 1rem;
    border:  outset .7rem var(--secundario);
}

.dragon {
    max-width: 100%;
}


/*Contenido de la carta*/
.card-contenido {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: .5fr 2fr .5fr;
    background-color: var(--primarioClaro);
    margin: 1rem 0;
    border:  solid .4rem var(--secundarioBorder);
}

.contenido-titulo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    font-family: var(--fuentePrincipal);
    font-size: 2.3rem;
    margin: 0;
    padding-left: .5rem;
}

.contenido-texto {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-bottom: solid .1rem var(--negro);
}

.parrafo {
    font-size: 1.3rem;
    margin: 0;
    padding-left: .5rem;
}

.contenido-footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.descripcion {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    margin: 0;
    padding-left: .5rem;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.footer-contenido {
    margin: 0;
    font-size: 1rem;
}

.span {
    font-weight: bold;
}


