:root{
    --primario: #DC143C;
    --celeste: 	#00FFFF;
    --azul: #1E90FF;
    --rojo:	#FF0000;
    --amarillo: #FFFF00;
    --verde: #00FF00;
    --blanco: #fff;
    --negro: #000;
    --gris: #D3D3D3;
    --gold:	#FFD700;
    --fuentePrincipal: "Lexend", sans-serif;
}

/*Paul Irish*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
    background-color: var(--gris);
}
*, *:before, *:after {
    box-sizing: inherit;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Pokedex-Header*/
.contenedor-pokedex {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color:var(--primario);
    width: 45rem;
    height: 60rem;
    margin: 10rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid .2rem var(--negro);
    border-right: solid .5rem var(--negro);
}

.contenedor-circulos {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 2rem;
}

.circulo-one {
    background-color: var(--celeste);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: solid .2rem var(--negro);
}

.circulos{
    display: flex;
    gap: 1.5rem;
}

.circulo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: solid .2rem var(--negro);
}
.circulos-one{
    background-color: var(--rojo);
}
.circulos-two{
    background-color: var(--amarillo);
}
.circulos-three{
    background-color: var(--verde);
}

/*Pokedex-Main*/
.border {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 32rem;
    border: solid .2rem var(--negro);
    border-radius: 3%;
    background-color: var(--gris);
}
.contenido-principal{
    width: 90%;
    height: 90%;
    background-color: var(--blanco);
    border-radius: 3%;
    border: solid .2rem var(--negro);
}

.contenedor-pokemon{
    display: flex;
    justify-content: center;
}

.imagen-pokemon {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.titulo{
    height: 1rem;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.pokemon{
    display: grid;
    grid-template-columns: 60% 40%;
}

#imagen{
    filter: brightness(0);
    max-width: 100%;
}

.posicion-img{
    grid-column: 1 / 2;
    width: 19.9rem;
    height: 19.9rem;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
    width: 12.6rem;
    height: 19.9rem;
}

.info{
    font-size: 1.2rem;
    font-family: var(--fuentePrincipal);
    font-weight: normal;
}

/*Pokedex-Botones*/
.contenedor-botones{
    align-self: center;
    display: flex;
    gap: 1rem;
}

.botones{
    border: none;
    font-size: 1.7rem;
    font-family: var(--fuentePrincipal);
    font-style: normal;
    padding: .1rem;
    margin: 2rem 0;
    width: 11rem;
    border: solid .2rem var(--negro);
    border-radius: 50px; 
}
.boton1 {
    background-color: var(--azul) ;
}
.boton2{
    background-color: var(--verde);
}
.boton3{
    background-color: var(--amarillo);
}

.contenedor-boton-iniciar{
    align-self: center;
}

.boton-iniciar{
    background-color: var(--gold);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    font-weight: normal;
    padding: 1rem;
    width: 30rem;
    border-radius: 50px;
    border: solid .2rem var(--negro);
    text-transform: uppercase;
}
